{% extends 'homebase.html' %}
{% block header %}
{% load static %}



    
<br>
<br>
<h2 class="glow" style="font-family: 'YourFontName', sans-serif; color: white;">
    <center>
        Select A Category
    </center>
  </h2>
  <br><br>
  
  

<style>
    
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

</style>


<div class="row row-cols-3 g-3">
    {% for i in ct %}
    <div class="col">
        <div class="card" style="background-color: #000000; color: #fff; width: 360px;">
            <img src="{{ i.image.url }}" style="width: 360px; height: 200px; object-fit: cover;" class="card-img-top"
                alt="Hollywood Sign on The Hill" />
            <div class="card-body">
                <center>
                    <h5 class="card-title" style="font-size: 20px;"><b style="color: aliceblue;">{{i.name}}</b></h5>
                    <p class="card-text" style="color: aliceblue; font-size: 16px;">
                        {{i.description}}
                    </p>
                    <a href="/stream?id={{i.id}}"><button class="glow-on-hover" type="button" style="font-size: 16px;">View</button></a><br>
                </center>
            </div>
            <br>
        </div>
    </div>
    <br>
    {% endfor %}
</div>

<br><br>
{% endblock %}