
{% extends 'base.html' %}
{% block header %}
{% load static %}

{% if alert %}
<script>
  msg("{{msg}}")
</script>
{% endif %}



    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Feedback</h2>
                        <p>Welcome</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>FeedBack</h3>
                        <form method="post">
                          {% csrf_token %}
                            
                            <div class="input__item">
                                <input name="email" type="text"placeholder="Enter Your Email">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                              <input name="name" type="text" placeholder="Enter Your Name">
                              <span class="icon_profile"></span>
                          </div>
                            <div class="input__item">
                              <input name="suggestion" type="text" placeholder="Enter Your Suggesions">
                              <span class="icon_profile"></span>
                          </div>
                            <button type="submit" name="sent" class="site-btn">Sent</button>
                        </form>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                <div class="normal__breadcrumb__text"> 
                <h2>Write Your Views About Us...</h2>
                </div>
                      
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section End -->
{% endblock %}