{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youflix</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/home">
                            <img src="{% static 'img/23.png' %}" width="90px" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/home">Homepage</a></li>
                                <li><a class="navbar-brand">View <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                    
                                        <li><a href="/category">Categories</a></li>
                                        <li><a href="/videoview">All Videos</a></li>
                                        <li><a href="/recent">Recent Videos</a></li>
                                         
                                    </ul>
                                </li>
                                <li><a href="/favorites">Favourites</a></li>
                                <li><a href="/recent_updates">Upcoming Updates</a></li>
                                
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="/userprofile"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>

        </div>
    </header>

    <style>
        
    </style>

          <!-- Search model Begin -->
          <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form" action="{% url 'search_videos' %}">
                    {% csrf_token %}
                    <input type="text" id="search-input" name="query" placeholder="Search here.....">
                    <button type="submit" class="btn btn-outline-danger">Search Here</button>
                </form>
            </div>
        </div>
        
        
    <!-- Search model end -->

    {% block header %}

    {% endblock %}

    <footer class="footer">
        <div class="page-up">
            <a href="" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        
                    <p>Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved Sumesh <i class="fa fa-heart" aria-hidden="true"></i><br> Contact : sumeshjohn789@gmail.com </a>
                      </p>
        </footer>
      
    
 
 
    
    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    
    </body>
    
    </html>