{% load static %}
{% block header %}



<style>

    .anime__video__player {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    }
    
    .anime__video__player video {
    width: 400px;
    height: 400px;
    object-fit: cover;
    }
    
    .anime__video__player video::poster {
    width: 400px;
    height: 400px;
    object-fit: cover;
    }

    
    </style>

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youflix</title>

    <!-- Google Font -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">



    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/home">
                            <img src="{% static 'img/23.png' %}" width="90px" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                           <ul>
                                <li class="active"><a href="/home">Homepage</a></li>
                                <li><a class="navbar-brand">View <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                    
                                        <li><a href="/category">Categories</a></li>
                                        <li><a href="/videoview">All Videos</a></li>
                                        <li><a href="/recent">Recent Videos</a></li>
                                        
                                         
                                    </ul>
                                </li>
                                <li><a href="/favorites">Favourites</a></li>
                                <li><a href="/recent_updates">Upcoming Videos</a></li>
                                
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="/userprofile"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>





    
    <!-- Hero Section Begin -->
    
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="{% static 'img/hero/akat.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <!-- <div class="label">Adventure</div> -->
                                <h2>Anime</h2>
                                <p>No amount of talent trumps hard work....</p>
                                <a href="/category"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{% static 'img/hero/peakpx.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <!-- <div class="label">Adventure</div> -->
                                <h2>Movies</h2>
                                <p>A short phrase that captures the essence of the plot...</p>
                                <a href="/category"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{% static 'img/hero/403408.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <!-- <div class="label">Adventure</div> -->
                                <h2>Series</h2>
                                <p>I don’t have dreams, I have goals...</p>
                                
                                <a href="/category"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
<section class="container">
    <div class="container">
        <div class="row">
            {% for i in videos %}
            <div class="col-lg-6">
                <div class="section-title">
                    <h5>{{ i.title }}</h5>
                    <br>
                    
                    
                   
                  <p>{{ message }}</p>
                </div>

                <div class="anime__video__player">
                    <h2></h2>
                    <video playsinline controls poster="{{i.thumb_image.url}}"> 
                        <source src="{{ i.video_file.url}}" ></video>
                        <!-- Captions are optional -->
            
                    </video>
                    
                </div>
    
                <p class="card-text" style="color: aliceblue; font-size: 16px;">
                    {{i.description}}  
                </p>
                <form method="POST" action="{% url 'add_to_favorites' video_id=i.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">Add to Favorites</button>
                </form>
                <br>
               
               <br>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<br>

 <!-- Search model Begin -->
      <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form" action="{% url 'search_videos' %}">
                {% csrf_token %}
                <input type="text" id="search-input" name="query" placeholder="Search here.....">
                <button type="submit"  class="btn btn-outline-danger">Search Here</button>
            </form>
        </div>
    </div>
    
<!-- Search model end -->



<!-- Comment Section -->
<section class="container">
<div class="anime__details__form">
    <div class="section-title">
        <h5>Your Comment</h5>
    </div>
    <form method="post">
        {% csrf_token %}
        <textarea name="text" placeholder="Your Comment"></textarea>
        <button type="submit"><i class="fa fa-location-arrow"></i> Comment</button>
    </form>
</div>
</section>
<br>

<section class="container">
    <div class="anime__details__form">
        <div class="section-title">
            <h5>Comments</h5>
        </div>
       {% for i in view %}
       {{ i.text }}
       {% endfor %}
    </div>
    </section>

<!-- Display existing comments -->


  <br><br>


      <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="./index.html">Homepage</a></li>
                            <li><a href="./categories.html">Categories</a></li>
                            <li><a href="./blog.html">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3"> -->
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved Sumesh <i class="fa fa-heart" aria-hidden="true"></i><br> Contact : sumeshjohn789@gmail.com </a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    
                  <!-- </div>
              </div>
          </div>
      </footer> -->
      <!-- Footer Section End -->

{% endblock %}
    

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    
    </body>
    
    <script>
        window.onload = function() {
            var message = "{{ message }}";
            if (message) {
                alert(message);
            }
        };
    </script>
    </html>