{% extends 'base.html' %}
{% block header %}
{% load static %}



<style>

    .anime__video__player {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    }
    
    .anime__video__player video {
    width: 400px;
    height: 400px;
    object-fit: cover;
    }
    
    .anime__video__player video::poster {
    width: 400px;
    height: 400px;
    object-fit: cover;
    }
    </style>


    
</section>
    
    <!-- Hero Section Begin -->
    
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="{% static 'img/akat.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <!-- <div class="label">Adventure</div> -->
                                <h2>Anime</h2>
                                <p>No amount of talent trumps hard work....</p>
                                <a href="/login"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{% static 'img/peakpx.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <!-- <div class="label">Adventure</div> -->
                                <h2>Movies</h2>
                                <p>A short phrase that captures the essence of the plot...</p>
                                <a href="/login"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="{% static 'img/403408.jpg' %}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <!-- <div class="label">Adventure</div> -->
                                <h2>Series</h2>
                                <p>I don’t have dreams, I have goals...</p>
                                
                                <a href="/login"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <br><br>
    <section class="container">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                <div class="blog__details__item__text">
                    <center>
                    <h4>Youflix A Video Streaming Platform</h4>
                    <p> Experience a world of entertainment right at your fingertips. 
                        With our cutting-edge platform, you can indulge in a vast library of movies, TV shows, documentaries, and more.
                         Whether you're a fan of thrilling action, captivating drama, hilarious comedies, or thought-provoking documentaries, we have something for everyone.
                    </p>
                </center><br><br>
                
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <section class="container">
        <div class="container">
            <div class="row">
                {% for i in view %}
                <div class="col-lg-6">
                    <div class="section-title">
                        <h5>{{ i.title }}</h5>
                        <br>
                        <p>{{ message }}</p>
                    </div>
    
                    <div style="position: relative; padding-bottom: 56.25%; overflow: hidden;">
                        <video playsinline controls poster="{{ i.thumb_image.url }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;object-fit: cover; width: 100%; height: 100%;">
                            <source src="{{ i.video_file.url }}">
                        </video>
                    </div>
                    <br>
    
                    <div class="title">
                        <button id="description-button-{{ forloop.counter0 }}" class="btn btn-outline-light" >Description</button>
                        <br>
                        <p id="description-{{ forloop.counter0 }}" class="card-text" style="color: aliceblue; font-size: 16px; display: none;">
                            {{ i.description }}
                        </p>
                    </div>
                    <br>
                    
    
                    <script>
                        const button{{ forloop.counter0 }} = document.getElementById('description-button-{{ forloop.counter0 }}');
                        const description{{ forloop.counter0 }} = document.getElementById('description-{{ forloop.counter0 }}');
    
                        button{{ forloop.counter0 }}.addEventListener('click', function() {
                            if (description{{ forloop.counter0 }}.style.display === 'none') {
                                description{{ forloop.counter0 }}.style.display = 'block';
                            } else {
                                description{{ forloop.counter0 }}.style.display = 'none';
                            }
                        });
                    </script>
            </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
