{% extends 'homebase.html' %}
{% load static %}
{% block header %}

{% if message %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}



    <section class="h-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            <div class="card">
              <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                  <img src="{{ sign_up.profileimage.url }}"
                    alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                    style="width: 150px; z-index: 1">
                   <br><br>
                    
                </div>
               
                <br>
                <div class="ms-3" style="margin-top: 130px;">
                  <h2>{{ sign_up.name }}</h2>
                </div>
            
              </div>
              <div class="p-4 text-black" style="background-color: #f8f9fa;">
               
              </div>
             
              <div class="card-body p-4 text-black">
                <div class="mb-5">
                  <p class="lead fw-normal mb-1">About</p>
                  <div class="p-4" style="background-color: #f8f9fa;">
                    <p class="font-italic mb-1">Email : {{ sign_up.email }}</p>
                    <p class="font-italic mb-1">Address : {{ sign_up.address }}</p>
                    <p class="font-italic mb-1">Phone Number : {{ sign_up.phone }}</p>
                    <br>
                   
                    <div>
                      <a href="{% url 'edit_profile' %}" class="btn btn-outline-dark">Edit Profile</a>
      
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <!-- Js Plugins -->
   
  {% endblock %}
