{% extends 'homebase.html' %}
{% block header %}
{% load static %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>
<style>

.blog__details__pic img {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

</style>
<br>
<center>
    <h4 style="color: white; font-weight: bold;">Upcoming Updates</h4>

    </center>

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        
<br>            
        {% for i in updates %}

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                <div class="blog__details__item__text">
                    <h4>{{ i.id }}. {{ i.title }}</h4>
                    <img src="{{ i.image.url }}"  height="400px" width="400px">
                    <p>{{ i.content }}</p>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </section>
    
{% endblock %}