{% extends 'homebase.html' %}
{% block header %}
{% load static %}

<style>
  .video-player {
    height: 400px; /* Adjust the height as needed */
    width: 400px;
  }
</style>

<br>
<section class="container">
  <div class="container">
    <h3 style="color: white;">Search Results for "{{ query }}"</h3>
    <br><br>
    <div class="row">
      {% if videos %}
        {% for i in videos %}
          <div class="col-lg-6">
            <div class="section-title">
              <h5>{{ i.title }}</h5>
              <br>
              <p>{{ message }}</p>
            </div>
            <div style="position: relative; padding-bottom: 56.25%; overflow: hidden;">
              <video playsinline controls poster="{{ i.thumb_image.url }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;object-fit: cover; width: 100%; height: 100%;">
                  <source src="{{ i.video_file.url }}">
              </video>
          </div>
            <p class="card-text" style="color: aliceblue; font-size: 16px;">
              {{ i.description }}
            </p>
            <form method="POST" action="{% url 'add_to_favorites' video_id=i.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-success">Add to Favorites</button>
            </form>
            <br><br>
          </div>
        {% endfor %}
      {% else %}
        <h3 style="color: white;">No Results Found "{{ query }}"</h3>
      {% endif %}
    </div>
    <br>
  </div>
</section>
{% endblock %}
