{% extends 'homebase.html' %}
{% block header %}
{% load static %}




<style>

.anime__video__player {
width: 400px;
height: 400px;
position: relative;
overflow: hidden;
}

.anime__video__player video {
width: 400px;
height: 400px;
object-fit: cover;
}

.anime__video__player video::poster {
width: 400px;
height: 400px;
object-fit: cover;
}
</style>

<br>
<section class="container">
    <div class="container">
        <div class="row">
            {% for i in video %}
            <div class="col-lg-6">
                <div class="section-title">
                    <h5>{{ i.title }}</h5>
                    <br>
                   
                   
                  <p>{{ message }}</p>
                </div>

                <div class="anime__video__player">
                    <h2></h2>
                    <video playsinline controls poster="{{i.thumb_image.url}}"> 
                        <source src="{{ i.video_file.url}}" ></video>
                        <!-- Captions are optional -->
            
                    </video>
                    
                </div>
                <p class="card-text" style="color: aliceblue; font-size: 16px;">
                    {{i.description}}  
                </p>
                <form method="POST" action="{% url 'add_to_favorites' video_id=i.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success">Add to Favorites</button>
                </form>
                <br><br>
              
            </div>
            {% endfor %}
        </div>
    </div>
</section>

  <br><br>
{% endblock %}
